
<form class=".form" (ngSubmit)="signIn()">
  <div class="container">
    
    <div class="card card-container">
      <h3 class="card-header text-dark text-center">Login</h3>
      <br>
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin">
        <span id="reauth-email" class="reauth-email"></span>
        <input type="text" name="studentNumber" [(ngModel)]="credentials.username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" [(ngModel)]="credentials.password" name="password" class="form-control" placeholder="Password" required>
      
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
      </form>
    
    </div>
   
  </div>
  <span>{{errorMessage}}</span>
</form>