/* You can add global styles to this file, and also import other style files */

$primary: #58A4B0;
$secondary: #646565;
$success: #CAA8F5;
$info: #B7B8B9;
$warning: #E1DD8F;
$danger: #A62639;
$light: #B3D5DB;
$dark: #393D3F;
body {
  background-image: -webkit-radial-gradient(circle at 1.98% 99.05%, #24C6DC, transparent 100%), radial-gradient(circle at 98.02% 73.97%, #514A9D, transparent 100%), radial-gradient(circle at 50% 50%, #7847f6, #7847f6 100%);
  background-image: -moz-radial-gradient(circle at 1.98% 99.05%, #24C6DC, transparent 100%), radial-gradient(circle at 98.02% 73.97%, #514A9D, transparent 100%), radial-gradient(circle at 50% 50%, #7847f6, #7847f6 100%);
  background-image: -o-radial-gradient(circle at 1.98% 99.05%, #24C6DC, transparent 100%), radial-gradient(circle at 98.02% 73.97%, #514A9D, transparent 100%), radial-gradient(circle at 50% 50%, #7847f6, #7847f6 100%);
  background-image: radial-gradient(circle at 1.98% 99.05%, #24C6DC, transparent 100%), radial-gradient(circle at 98.02% 73.97%, #514A9D, transparent 100%), radial-gradient(circle at 50% 50%, #7847f6, #7847f6 100%);
  background-repeat: no-repeat;
  height: 100;
  background-attachment: fixed;
}

.navbar {
  background: -webkit-radial-gradient($secondary, $dark);
  background: -moz-radial-gradient($secondary, $dark);
  background: -o-radial-gradient($secondary, $dark);
  background: radial-gradient($secondary, $dark);
  opacity: 0.9;
}

@import "~bootstrap/scss/bootstrap";
