<div class="text-center">
    <p class="lead">
        All patient list
    </p>

    <div class="col-md-10 offset-md-1">
        <!-- <div *ngIf="!user || errorMessage" class="mb-3 alert alert-danger">
            <div *ngIf="errorMessage">
                <strong>Error!</strong> {{errorMessage}}
            </div>
            <div *ngIf="!user">
                Please log in first.
            </div>
        </div> -->
        <div *ngIf="(patients && patients.length > 0) && (user && user.userType)" class="table-responsive">
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Add as my patient</th>
                        <th>Send Tip</th>
                        <th>Enter Vitals</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of patients">
                        <td>{{patient.userId.firstName}}</td>
                        <td>{{patient.userId.lastName}}</td>

                        <td>
                            <button class="btn btn-primary" (click)="add(patient._id)">Add</button>
                        </td>
                        <td>
                            <button class="btn btn-success" (click)="send(patient._id)">Send Tips</button>
                        </td>
                        <td>
                            <button class="btn btn-info" (click)="enterVitals(patient._id)">Enter Vitals</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>